
.leftcolumn {
  float: left;
  width: 70%;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

.h200 {
  height: 200px;
}

.h100 {
  height: 100px;
}

.content-center{
  text-align: center;
}

.container-sk {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.java {width: 90%; background-color: #b3dcb5;}
.sql {width: 90%; background-color: #819e82;}
.js {width: 80%; background-color: #6a806b;}
.php {width: 60%; background-color: #3e5d40;}
.asp {width: 60%; background-color: #034807;}
.ad {width: 50%; background-color: #002902;}
